
<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
  <section class="wrapper">

      <div class="row">
          <div class="col-lg-10 main-chart">
            <form ng-submit="ctrl.search()">
              <input class="form-control input-lg" type="text" placeholder="Search Them Docs!" ng-model="ctrl.searchText">
            </form>
            <div class="row mtbox">
                <div class="col-md-2 col-sm-2 col-md-offset-1 box0" ng-repeat="department in ctrl.departments | limitTo: 4">
                    <div class="box1" ui-sref="home.list({name: department.name, objectId: department.objectId})">
                        <i class="fa fa-building-o fa-5x"></i>
                        <h4>{{ department.name }} </h4>
                    </div>
                </div>
            </div><!-- /row mt -->


            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="pull-right">
                        <a><h4>Show All</h4></a>
                    </div>
                </div>
            </div>


            <div class="row mtbox" style="display:none">
                <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
                    <div class="box1">
                        <i class="fa fa-building-o fa-5x"></i>
                        <h3>ICOM</h3>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 box0">
                    <div class="box1">
                        <i class="fa fa-building fa-5x"></i>
                        <h3>INQU</h3>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 box0">
                    <div class="box1">
                        <i class="fa fa-building-o fa-5x"></i>
                        <h3>HUMA</h3>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 box0">
                    <div class="box1">
                        <i class="fa fa-building fa-5x"></i>
                        <h3>MATE</h3>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 box0">
                    <div class="box1">
                        <i class="fa fa-building-o fa-5x"></i>
                        <h3>BIOL</h3>
                    </div>
                </div>
            </div><!-- /row mt -->


            <div ui-view></div>
  </section>
</section>

